{% load i18n %}
     <p id="phase1training"></p>

      <div id="myPlayer"></div>
      <script type="text/javascript">
          var notResponded = true;
          var thePlayer = jwplayer("myPlayer").setup({
                playlist: [
                             {
                                file:"{{generateQuestion.targetGestureVideo}}", 
                                image:"{{robothead_small_image}}",
                              },

                  ],
                  width: "100%",
              aspectratio: "595:576",
              stretching: "exactfit",
              autostart: true,
              events:{ 
                  onTime: function(event) {                 
                  },
                  onPlaylistComplete:function(){
                    // user timed out, disable choices, timedOut
                    console.log("enable buttons");

                    if (notResponded){
                      var postdata={
                      'choice': 'noResponseRequired',
                      'target':"{{generateQuestion.targetGesture}}",
                      'phase': "{{phase}}",
                      'section': "{{section}}",
                      }
                      $.post('{% url 'exercises:userResponse' %}',postdata)
                        .done(function( json ) {
                          $.getJSON('{% url 'exercises:userResponse' %}', postdata)
                            .done(function( json ) {
                              console.log( "JSON Data endCurrentSection?: " + json.response );
                              if (json.response){
                                $("#nextBtn").addClass("disabled hidden");
                                $("#dashBtn").removeClass("disabled hidden");
                              } else {
                                $("#nextBtn").removeClass("disabled");
                              }
                            })
                            .fail(function( jqxhr, textStatus, error ) {
                                var err = textStatus + ", " + error;
                                console.log( "Request Failed: " + err );
                            });


                          });

                      


                     
                      
                    }
                    
                    
                  },
                  onPlaylistItem:function(index, playlist){
                    if (index["index"] == 0){
                      $("#trainingBtn").html("{% trans generateQuestion.targetGesture %}")

                    };
                  
                  }
                }
              });
             
            //stop player manual controls
            if (isMobile == false) {
                thePlayer.setControls(false);
              }

              thePlayer.on('beforePlay', function(event){
                thePlayer.setControls(false);
              });
             

        $(document).ready(function () {



          $.getScript("/static/js/setcsrf.js", function(){

             console.log("setcrsf.js loaded");

          });


        });
        </script>

      <div class="row">
          <div class="col-sm-4 btn-vert-block"></div>
          <div class="col-sm-4 btn-vert-block">
              <button type="submit" class="btn btn-block btn-primary disabled" id="trainingBtn" name="trainingBtn" value="0">{% trans "..." %}</button>
          </div>
          <div class="col-sm-4 btn-vert-block"></div>
      </div>