
{% extends 'exercises/layout.html' %}

{% block customScripts %}


{% endblock customScripts %}

{% block custombody_content %}

<div class="container">
<br>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

  
    <form method="post" action="{% url 'exercises:exercise' %}">
      {% csrf_token %}
      
    

      {% for section in all_sections %}

            {% if section.is_enabled %}

              {% if section.phase == "phase1" %}
                <button type="submit" class="btn btn-primary btn-block" name="dashbtn" value="{{section.phase}},{{section.section}}">
                  {{section.name}}
                </button>
              {% endif %}

              {% if section.phase == "phase2" %}
                <button type="submit" class="btn btn-success btn-block" name="dashbtn" value="{{section.phase}},{{section.section}}">
                  {{section.name}}
                </button>
              {% endif %}

              {% if section.phase == "phase3" %}
                <button type="submit" class="btn btn-warning btn-block" name="dashbtn" value="{{section.phase}},{{section.section}}">
                  {{section.name}}
                </button>
              {% endif %}





            {% else %}

              <button class="btn btn-primary btn-block disabled">{{section.name}}</button>

            {% endif %}  
            
            {% if debug %}
              <p> {{section}}</p>
            {% endif %}
            <br>



      {% empty %}
          <p>Sorry, no exercises are available to you.</p>
      {% endfor %}
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>


</div>
{% endblock custombody_content %}