{% extends 'exercises/layout.html' %}

{% block customScripts %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://content.jwplatform.com/libraries/IUkQRbu5.js"></script>
<script type="text/javascript">
          function checkProgress(postdata) {
                          $.getJSON('{% url 'exercises:userResponse' %}', postdata)
                            .done(function( json ) {
                              console.log( "JSON Data endCurrentSection?: " + json.response );
                              if (json.response){
                                $("#nextBtn").addClass("disabled hidden");
                                $("#dashBtn").removeClass("disabled hidden");
                              }
                            })
                            .fail(function( jqxhr, textStatus, error ) {
                                var err = textStatus + ", " + error;
                                console.log( "Request Failed: " + err );
                            });


                          }

</script>


{% endblock customScripts %}

{% block custombody_content %}

<style type="text/css">
/* As per Catherine requirements to make gesture more bold*/
#trainingBtn, #instructionDisplayBtn  {
  color: red;
  font-weight: bold;
  font-size: larger;
}
</style>

<div class="container">
<br>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

{% if debug %}

<p>video and buttons should go here</p>


<p>phase: {{phase}}</p>
<p>section: {{section}}</p>
<p>watched_instruction_already: {{watched_instruction_already}}</p>
<p>generateInstruction: {{generateInstruction}}</p>
<p>generateQuestion: {{generateQuestion}}</p>
<p>request: {{request}}</p>

{% endif %}



<form method="post" action="{% url 'exercises:exercise' %}">
  {% csrf_token %}

{% if watched_instruction_already == False %}

  <div id="myPlayer"></div>
  <script type="text/javascript">
    var thePlayer = jwplayer("myPlayer").setup({
          playlist: [
                       {
                          file:"{{generateInstruction.greetingVideo}}", 
                          image:"{{robothead_small_image}}",
                        },
                       {
                          file:"{{generateInstruction.doYouUnderstandVideo}}",
                          image:"{{robothead_small_image}}",
                        },
            ],
            width: "100%",
        aspectratio: "595:576",
        stretching: "exactfit",
        autostart: true,
        events:{ 
            onTime: function(event) { 
          
            },
            onPlaylistComplete:function(){
              $('#understandBtn, #dontUnderstandBtn').removeClass('disabled');
            }
          }
        }); 
      //stop player manual controls
        thePlayer.setControls(false);
  </script>




{% if debug %}

<div class="row">
  <div class="col-sm-6">
    <button type="submit" class="btn btn-primary btn-block" id="understandBtn" name="understandBtn" value="1"> I understand </button>
  </div>
  <div class="col-sm-6">
    <button type="submit" class="btn btn-primary btn-block" id="dontUnderstandBtn" name="dontUnderstandBtn" value="1"> I don't understand </button>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-sm-6">
    <button type="submit" class="btn btn-primary btn-block disabled" id="understandBtn" name="understandBtn" value="1"> I understand </button>
  </div>
  <div class="col-sm-6">
    <button type="submit" class="btn btn-primary btn-block disabled" id="dontUnderstandBtn" name="dontUnderstandBtn" value="1"> I don't understand </button>
  </div>
</div>

{% endif %}

    




{% elif generateQuestion.finishedSection == False %}


  {% if phase == "phase1"%}
    {% if section == "pretest"%}
        
      {% include "exercises/_phase1pretest.html" %}
      
    {% endif %}

    {% if section == "training1" or section == "training2" or section == "training3" or section == "training4" %}

      {% include "exercises/_phase1training.html" %}

    {% endif %}

    {% if section == "posttest1" or section == "posttest2" or section == "posttest3" %}

      {% include "exercises/_phase1posttest.html" %}

    {% endif %}
  {% endif %}

  {% if phase == "phase2"%}
    {% if section == "pretest"%}

      {% include "exercises/_phase2pretest.html" %}


    {% endif %}

    {% if section == "training1" or section == "training2" or section == "training3" or section == "training4" %}

      {% include "exercises/_phase2training.html" %}

    {% endif %}

    {% if section == "posttest1" or section == "posttest2" or section == "posttest3" %}

      {% include "exercises/_phase2posttest.html" %}

    {% endif %}
  {% endif %}

  {% if phase == "phase3"%}
    {% if section == "pretest"%}

      {% include "exercises/_phase3pretest.html" %}

    {% endif %}

    {% if section == "training1" or section == "training2" or section == "training3" or section == "training4" %}

      {% include "exercises/_phase3training.html" %}

    {% endif %}

    {% if section == "posttest1" or section == "posttest2" or section == "posttest3" %}

      {% include "exercises/_phase3posttest.html" %}

    {% endif %}
  {% endif %}

  <br/>
  <div class="row text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-block btn-primary disabled" id="nextBtn" name="nextBtn" value="1"> Next </button>
    </div>
    <div class="col-sm-4"></div>
  </div>

{% else %}
  <script type="text/javascript">
    $(document).ready(function () {
      console.log('progress_percent is 1 or greater, it is completed force user out')
      // progress_percent is 1 or greater, it is completed force user out
      $("#dashBtn").removeClass("disabled hidden");
    })
  </script>

{% endif %}
  </form>

  <br/>

  <form method="get" action="{% url 'exercises:dashboard' %}">
  {% csrf_token %}
    <div class="row text-center">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-block btn-primary hidden" id="dashBtn" name="dashBtn" value="1"> Section is complete </button>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </form>
  





  </div>
  <div class="col-sm-2"></div>
</div>


</div>
{% endblock custombody_content %}