{% extends 'djfrontend/skeleton.html' %}
{% load i18n %}

{% block djfrontend_twbs_css %}
    <!-- <link href="/static/css/bootstrap.css" rel="stylesheet"> -->
    <title>Learning Gestures Site</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flat-ui.min.css" rel="stylesheet">

    
    <style type="text/css">
      /* Move down content because we have a fixed navbar that is 50px tall */
      body {
        padding-top: 50px;
        /*padding-bottom: 0px;*/
      }

      .btn_facebook_login {
    border: 1px solid #3b5a9b;
    background: #5477ba;
    background: -moz-linear-gradient(top,#90a7d4 1%,#5477ba 4%,#3b5a9b 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#90a7d4),color-stop(4%,#5477ba),color-stop(100%,#3b5a9b));
    background: -webkit-linear-gradient(top,#90a7d4 1%,#5477ba 4%,#3b5a9b 100%);
    background: -o-linear-gradient(top,#90a7d4 1%,#5477ba 4%,#3b5a9b 100%);
    background: -ms-linear-gradient(top,#90a7d4 1%,#5477ba 4%,#3b5a9b 100%);
    background: linear-gradient(to bottom,#90a7d4 1%,#5477ba 4%,#3b5a9b 100%);
}
      
    </style>

    {% block customScripts %}
    {% endblock customScripts %}
{% endblock djfrontend_twbs_css %}


{% block body_content %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'exercises:dashboard'%}">{% trans "Gestures Trainer" %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'exercises:dashboard'%}">{% trans "Dashboard" %}</a></li>


          </ul>
        




       <!--  <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">Right</a></li>
          <li><a href="#contact">Right</a></li>
        </ul> -->

          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            
          
            {% if not backends.associated %}
            <li>
              <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                <span class="icon" style="width:40px">
                  <img  src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yo/r/jVG1f1GslU7.png" alt="{% trans "Login with Facebook" %}" width="15" height="15">
                </span>
                <span class="text" style="margin-left:4px; color:white;">
                  <span class="brief">{% trans "link" %}</span> 
                </span>
                 
               </a>
            </li>
            
            {% endif %}

            <li>
            <form class="navbar-form navbar-right" method="get" action="/logout" style="margin: 0px;">
              <div class="form-group">
                <a class="navbar-text" style="padding: 0 0;">{% trans "Welcome" %}, {{ user.first_name }} {{ user.last_name }}</a> 
              </div>
              {% csrf_token %}
              <button type="submit" class="btn btn-success">  {% trans "Logout" %}</button>
            </form>
            </li>

          </ul>
      
          {% endif %}
          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form> -->
        </div>
      </div>
    </div>



    <!-- Main jumbotron for a primary marketing message or call to action -->
<!--     <div class="jumbotron">
      <div class="container">
        <h1>Welcome to django-skeleton</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="http://getbootstrap.com/">Learn more &raquo;</a></p>
      </div>
    </div> -->

{% block custombody_content %}
{% endblock custombody_content %}


<br>
      

<footer class="footer">
        
        <div class="container">
        <hr>
          <p>&copy; {% trans "CUHK Educational Psychology Lab" %} 2015</p>
        </div>
      </footer>



  {% endblock body_content %}


        



